.ordersContent-orderList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
  font-family: "Amazon Ember", system-ui, -apple-system, BlinkMacSystemFont,
    "Inter", Roboto, "Segoe UI", sans-serif;
}
