.sectionHead {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 16px;
}

.sectionHead-left {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
  color: #0f1111;
}

.sectionHead-right {
  font-size: 11px;
  line-height: 1.4;
  color: #565959;
  white-space: nowrap;
}
